{#
   Základní šablona, ze které dědí většina ostatních šablon v tomto projektu
   Viz http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <title>{% block title %}Symfony Blog{% endblock %}</title>

    {% block stylesheets %}
        {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">#}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block body %}

    {# HEADER #}
    {# ------ #}

    {% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Symfony Demo Application
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}


    {# CONTENT #}
    {# ------- #}

    <div class="container body-container">
        {% block content %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {% block main %}{% endblock %}
                </div>

                <div id="sidebar" class="col-sm-3">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        {% endblock content %}
    </div>


    {# FOOTER #}
    {# ------ #}

    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - Webuni.cz (based on Symfony demo application)</p>
                    <p>MIT License</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/webuni"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/webunicz"><i class="fa fa-facebook"></i></a>
                        <a href="http://webuni.cz"><i class="fa fa-rss"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script>
        $(document).ready(function() {
            hljs.initHighlightingOnLoad();
        });
    </script>
{% endblock %}

</body>
</html>

