{% extends 'Exception/error.html.twig' %}

{% block stylesheets %}
    <link href="{{ absolute_url(asset('bundles/framework/css/structure.css')) }}" rel="stylesheet" />
    <link href="{{ absolute_url(asset('bundles/framework/css/body.css')) }}" rel="stylesheet" />
    <link href="{{ absolute_url(asset('bundles/framework/css/exception.css')) }}" rel="stylesheet" type="text/css" media="all" />
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_2" data-toggle="tab" aria-expanded="false">Exception page</a></li>
        <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="true">Production page</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sf-reset">
                            {{ include('TwigBundle:Exception:exception.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_1">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock %}
